<!DOCTYPE html>
<html>

<head>
	<title>Admin Login</title>
	<link rel="stylesheet" type="text/css" href="admin.css">
</head>

<body>
	<h1><i>Administrator Login</i></h1>
	<form>
		<div>
			<label for="username">Username</label><br>
			<input type="text" name="Username" id="username"><br>
			<label for="password">Password</label><br>
			<input type="password" name="pass" id="password">
		</div>
		<div>
			<input type="button" onclick="location.href='adminlogin.html';" value="Login">
			<input type="button" value="Go Back" onclick="location.href='home.html';">
		</div>
	</form>
</body>

</html>