<!DOCTYPE html>
<html>

<head>
    <title>Update Sheet</title>
    <link rel="stylesheet" type="text/css" href="admin.css">
</head>

<body>
    <h1><i>Update Form</i></h1>
    <form action="/update/abc" method="POST">
        <div><input type="text" placeholder="regno" name="regno"></div>
        <div><button>Submit update</button></div>
    </form>

    <form action="/delete/abc" method="POST">
        <div><input type="text" placeholder="regno" name="regno"></div>
        <button>Submit delete</button>
    </form>
</body>

</html>